.form-singing {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto
}

button {
    width: 300px;
    height: 48px;
}

#exampleInputEmail1 {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#exampleInputPassword1 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

body {
    background-color: #f5f5f5;
}

.form-group {
    width: 300px;
}